/* =================================================== Start Global css =======================================================  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
html{
scroll-behavior: smooth;
}
body{
font-family: "Kanit", sans-serif;
background-color: rgb(212, 210, 210);
}
/* p{
font-size: 17px;
color: rgb(125, 125, 125);
} */
.container{
max-width:1500px;
margin: auto;
padding: 10px;
}
a{
text-decoration: none;
color: black;
}

/* ================================================= End Global css =====================================================  */


.prodact-page{
    .container{
        .page-body{
            display: flex;
            .side{
                background-color: rgb(175, 175, 175);
                width: 21%;
                height: 93%;
                margin: 18px;
                position: fixed;
                border-radius: 10px;

                .side-body{
                    display: flex;
                    flex-direction: column;
                    /* align-items: center; */
                    padding: 10px;
                    margin: 15px 0px;


                    .search{
                        background-color: white;
                        padding: 10px 15px;
                        border-radius: 30px;

                        input{
                            border: none;
                            background-color: transparent;
                            padding: 5px;
                            outline: none;
                            font-size: 15px;
                        }
                    }
                    .options{
                        padding: 20px 10px;
                        margin-top: 10px;
                        .option-body{
                            margin-bottom: 10px;
                            h4{
                                margin-bottom: 5px;
                            }
                            .option{
                                padding: 3px 7px;
                            }
                        }
                    }
                    .rang{
                        padding: 20px 10px;

                        h4{
                            margin-bottom: 8px;
                        }
                        .value{
                            padding: 3px 7px;
                            display: flex;
                            input{
                                margin-right: 25px;
                                width: 75%;
                            }
                        }
                    }
                }
            }
            .main-section{
                /* background-color: rgb(122, 122, 122); */
                width: 73%;
                height: 100%;
                margin: 18px;
                position: relative;
                left: 24%;
                .hero{
                    display: flex;
                    padding: 15px;
                    background-color: rgb(160, 160, 160);
                    border-radius: 10px;
                    .hero-content{
                        display: flex;
                        /* justify-content: space-between; */
                        align-items: center;
                        background-color: bisque;
                        padding: 10px;
                        margin: 8px 6px;
                        cursor: pointer;
                        border-radius: 10px;
                        img{
                            width: 40%;
                            /* height: 90%; */
                            margin-right: 5rem;
                            border-radius: 12px;
                            object-fit: cover;
                        }
                    }
                }

                .products{
                    padding: 6px;
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    gap: 20px 0px;

                    .product-card{
                        width: 31.5%;
                        max-height: 315px;
                        margin-top: 10px;

                        .product{
                            position: relative;
                            background: transparent;
                            border: 0;
                            z-index: 0;
                            transition: .5s;
                            max-height: 315px;
                            overflow: hidden;
                            cursor: pointer;
                            
                            .image{
                                height: 250px;
                                border-radius: 10px;
                                overflow: hidden;
                                transition: .5s;
                                position: relative;
                                margin-bottom: 8px;
    
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .product-body{
                                .titile{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
    
                                    h4{
                                        margin: 4px 0px;
                                    }
                                    p{
                                        i{
                                            color: gold;
                                        }
                                    }
                                }
                                .product-price{
                                    display: flex;
                                    align-items: center;
                                    h2{
                                        font-size: 1.2rem;
                                    }
                                    .discont{
                                        text-decoration: line-through;
                                        color: rgb(44, 44, 44);
                                        font-size: 0.9rem;
                                        margin-right: 3px;
    
                                    }
                                }
                                .product-action{
                                    margin-top: 10px;
                                    display: flex;
                                    align-items: center;
    
                                    .main-btn{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border: none;
                                        padding: 10px 20px;
                                        background-color: gold;
                                        border-radius: 1rem;
                                        gap: 15px;
                                        transition: 0.3s;
                                    }
                                    .main-btn:hover{
                                        cursor: pointer;
                                        background-color: rgb(240, 204, 0);
                                    }
                                }
                            }
                        }
                        .product:hover{
                            max-height: 370px;
                            background-color: rgb(112, 112, 112);
                            z-index: 999;
                            transform: scale(1.04);
                            padding: 8px 6px;
                            border-radius: 8px;
                        }
                    }
                }
            }

        }
    }
}